#etch {
    display: grid;
    width: 75vmin;
    height: 75vmin;
    /* width: 100vw;
    height: 80vh; */
    background-color: white;
}

body {
    margin: 0;
    background-image: url("./cool-background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
}

#etch > div {
    height: 100%;
    width: 100%;
}

.options {
    background-color: rgba(84, 84, 84, 0.193);
    height: 75vmin;
    width: 10vmin;
    display: flex;
    flex-direction: column;
}

#options-left {
    border-radius: 5px 0px 0px 5px;
}

#options-right {
    border-radius: 0px 5px 5px 0px;
}

#options-below {
    background-color: rgba(84, 84, 84, 0.193);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    width: 75vmin;
    height: 5vmin;
}

#colorInput{
    border-radius: 0 5px 0 0;
    height: 50%;
    width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
}

#colorInput::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#colorInput::-webkit-color-swatch {
    border: none;
    border-radius: 0 5px 0 0;
}
#colorInput::-moz-color-swatch-wrapper {
    padding: 0;
}
#colorInput::-moz-color-swatch {
    border: none;
    border-radius: 0 5px 0 0;
}

#clear {
    height: 50%;
    width: 100%;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-size {
    width: 80%;
}

.mode-icon {
    width: 80%;
}

img {
    width: 100%;
}